@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  background-color: #f3f4f6; /* Light gray background */
}
